<!-- gestion_livres.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gestion des Livres</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <a href="{% url 'gestion_liste' %}" class="btn btn-primary btn-sm float-right">Retour</a>
    <h2>Gestion des Livres</h2>
    <div class="container mt-5">
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'ajouter_livre' %}">Ajouter un livre</a></li>
            <li class="list-group-item"><a href="{% url 'liste_livres' %}">Liste des livres</a></li>
        </ul>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
