<!-- liste_livres.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Liste des Livres</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">

    <ul class="list-group">
            <a href="{% url 'gestion_livres' %}" class="btn btn-primary btn-sm float-right">Retour à la Gestion des Livres</a>

        {% for livre in liste_livres %}
            <li class="list-group-item">
                {{ livre.titre_livre }} - {{ livre.code_auteur.nom_auteur }}
                <a href="{% url 'modifier_livre' livre.code_livre %}" class="btn btn-warning btn-sm float-right mr-2">Modifier</a>
                <a href="{% url 'supprimer_livre' livre.code_livre %}" class="btn btn-danger btn-sm float-right">Supprimer</a>
            </li>
        {% endfor %}
    </ul>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
