<!-- liste_tous_livres.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Liste de Tous les Livres</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <a href="{% url 'gestion_emprunts' %}" class="btn btn-primary btn-sm float-right">Retour à la Gestion des Emprunts</a>

    <h2>Liste de Tous les Livres</h2>
    <ul class="list-group">
        {% for livre in livres %}
            <li class="list-group-item"><a href="{% url 'liste_emprunteurs_livre' code_livre=livre.code_livre %}">{{ livre.titre_livre }}</a></li>
        {% endfor %}
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
