<!-- liste_emprunteurs_livre.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Liste des Emprunteurs d'un Livre</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>Liste des Emprunteurs du Livre "{{ livre.titre_livre }}"</h2>
    <a href="{% url 'liste_tous_livres' %}" class="btn btn-primary btn-sm float-right">Retour</a>
    <table class="table">
        <thead>
            <tr>
                <th>Adhérent</th>
                <th>Date d'emprunt</th>
                <th>Date de retour prévue</th>
            </tr>
        </thead>
        <tbody>
            {% for emprunt in emprunts %}
                <tr>
                    <td>{{ emprunt.adherent.nom_adh }}</td>
                    <td>{{ emprunt.date_emprunt }}</td>
                    <td>{{ emprunt.date_retour_prevue }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
