<!-- ajouter_auteur.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ajouter un Auteur</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <a href="{% url 'gestion_auteurs' %}" class="btn btn-primary btn-sm float-right">Retour à la Gestion des Auteurs</a>
    <h2>Ajouter un Auteur</h2>
    <form method="post" action="{% url 'ajouter_auteur' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="nomAuteur">Nom de l'Auteur:</label>
            <input type="text" class="form-control" id="nomAuteur" name="nom_auteur" required>
        </div>
        <div class="form-group">
            <label for="prenomAuteur">Prénom de l'Auteur:</label>
            <input type="text" class="form-control" id="prenomAuteur" name="prenom_auteur" required>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
